<% layout("/layouts/boilerplate") %>

<body>
  <div class="row ">
    <div class="col-8 offset-3 mt-5 show-job">
      <div class="card  show-row" style="width: 35rem">
        <img
          class="card-img-top  show-job-img"
          src="<%= job.image.url %>"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title"><%= job.title%></h5>
          <p class="card-text"><%= job.description %></p>
        </div>
        <div class="card-body">
          <h5 class="card-title">Organized By: <%= job.organiization %></h5>
          <p class="card-text">Salary : <%= job.wage %></p>
        </div>
        <div class="card-body applyBtn">
          <a href="/job/<%= job._id %>/candidate" class="card-link">Apply</a>
        </div>
      </div>
    </div>
  </div>
</body>
